<div id="about">
<img id="kleeb" src="/~mk3981/sinatra/kleebtronics/public/kleeb.jpg" width="200">

<div id="aboutme">
I spent my childhood in the suburbs of Wilkes-Barre, Pennsylvania playing drums in punk rock bands and exploring abandoned buildings. There wasn't much else to do around there, so I decided to go to <a href="http://www.psu.edu/">Penn State University</a> to pursue a degree in Electrical Engineering and Music Technology. I started tinkering with electronics, DJing, and running the sound board at live shows. I moved to New York City in 2008 and took a few freelance jobs setting up sound for live events with <a href="http://www.onedreamsound.com/">One Dream Sound</a>. In May 2009, I took a full time position as a Sales Associate with <a href="http://www.nycewheels.com">NYCeWheels</a>, an electric and folding bicycle shop on the Upper East Side. I spent three years there, in sales, tech support, and web design, before enrolling at the <a href="http://itp.nyu.edu/itp/">Interactive Telecommunications Program</a> at NYU. In conjunction with this program, I founded <a href="http://www.kleebtronics.com">Kleebtronics, Inc.</a> in 2011 to track my progress both in and out of school.
</div>
<div id="kleeblinks">
<h2 id="links">
Links
</h2>
<p>
<a href="http://twitter.com/#!/kleeb930" target="_blank">Twitter</a>
</p>
<p>
<a href="http://www.facebook.com/kleeb" target="_blank">Facebook</a>
</p>
<p>
<a href="http://vimeo.com/user8412426/videos" target="_blank">Vimeo</a>
</p>
<p>
<a href="https://github.com/markkleeb" target="_blank">GitHub</a>
</p>
</div>
</div>