<div id="add_project">
<form action="/~mk3981/sinatra/kleebtronics/new_project" method="post" enctype="text/plain">
 <div class="text">Image URL:</div>
     <div class="input">
  <input type="text" name="img_url" value=""/>
  </div>
  <br />
  <div class="text">
  Title
  </div>
  <div id="email class="input">
  <input type="text" name="title" value=""/>
  </div>
  <br />
   <div class="text">
  Year
  </div>
  <div id="email class="input">
  <input type="text" name="year" value=""/>
  </div>
  <br />
  <div class="text">
  Description:
  </div>
  <div class="input">
  <textarea rows="10" cols="60" name="description"></textarea>
  </div>
  <br />
  <br />
  <div id="submit">
  <input type="image" src="http://stu.itp.nyu.edu/~mk3981/CommLabWeb/Submit.gif" id="submitImage" onmouseover="mouseOverSubmit()" onmouseout="mouseOutSubmit()" width="100" name="send" id="send" value="Send Message" alt="Send Message" title="Send Message" tabindex="7">
  </div>
</form>

</div>
