<div id="addproject">
<form id="addproject" action="/newproject" method="post">
 <div class="text">
 Image URL:
 </div>
     <div class="input">
  <input type="text" name="img_url" value=""/>
  </div>
  <br />
  <div class="input">
  <input type="text" name="img_hover" value=""/>
  </div>
  <br />
  <div class="text">
  Title
  </div>
  <div class="input">
  <input type="text" name="title" value=""/>
  </div>
  <br />
   <div class="text">
  Year
  </div>
  <div class="input">
  <input type="text" name="year" value=""/>
  </div>
  <br />
  <div class="type">
  Type
  </div>
  <div class="input">
  <input type="text" name="type" value=""/>
  </div>
  <br />
   <div class="text">
  Link
  </div>
  <div class="input">
  <input type="text" name="link" value=""/>
  </div>
  <br />
  <div class="text">
  Description:
  </div>
  <div class="input">
  <textarea rows="10" cols="60" name="description"></textarea>
  </div>
  <br />
  <br />
  <div id="submit">
  <input type="submit"  id="submitImage"  width="100" value="Submit">
  </div>
</form>

</div>
