

<div id="frame">

<p>
Kleebtronics is currently based out of <a href="http://www.deathbyaudio.net/" target="_blank">Death By Audio</a> in Brooklyn, New York.
Contact via email: <a href="mailto:mark@kleebtronics.com?Subject=Kleebtronics%20Inquiry">mark@kleebtronics.com</a>
Or fill out the form below:
</p>
<div class="row">
<div id="form">
<form method="post" action="/send_email">
<div class="row">
<div class="span2 offset2">
  <div class="text">
  Name:
  </div>
  </div>
  <div class="span2">
  <div class="input">
  <input type="text" name="name" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="span2 offset2">
  <div class="text">
  Email Address:
  </div>
  </div>
  <div class="span2">
  <div class="input">
  <input type="text" name="email" />
  </div>
  </div>
  </div>
  <div class="row">
  <div class="span2 offset2">
  <div class="text">
  Comments:
  </div>
  </div>
  <div class="span2">
  <div class="input">
  <textarea rows="10" cols="60" name="message"></textarea>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="span2 offset4">
  <div id="submit">
  <input type="submit"  id="submitImage"  width="100" name="send" id="send" value="Submit" tabindex="7">
  </div>
  </div>
  </div>
</form>
</div>
</div>
</div>
