

<div id="contact">

<div id="location">
<p>
Kleebtronics is currently based out of <a href="http://www.deathbyaudio.net/" target="_blank">Death By Audio</a> in Brooklyn, New York.
</p>
<p>
Contact via email: <a href="mailto:mark@kleebtronics.com?Subject=Kleebtronics%20Inquiry">mark@kleebtronics.com</a>
</p>
<p>
Or fill out the form below:
</p>
</div>
<div id="form">
<form method="post" action="/send_email">
<div id="line">
  <div class="text">
  Name:
  </div>
  <div class="input">
  <input type="text" name="name" value=""/>
  </div>
  </div>
  <div id="line">
  <div class="text">
  Email Address:
  </div>
  <div class="input">
  <input type="text" name="email" />
  </div>
  </div>
  <div id="line">
  <div class="text">
  Comments:
  </div>
  <div class="input">
  <textarea rows="10" cols="60" name="message"></textarea>
  </div>
  </div>
  <div id="line">
  <div id="submit">
  <input type="submit"  id="submitImage"  width="100" name="send" id="send" value="Submit" tabindex="7">
  </div>
  </div>
</form>
</div>
</div>
