<div id="frame">
<h2>Death By Arcade</h2>
<p>
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade24.jpg" width="600" />
</p>
<p>
Death By Arcade is a permanent installation in the DIY music venue <a href="http://entertainment4every1.net" target="_blank">Death By Audio</a>. It showcases games made by independent designers from around the country.
</p>
<h3>Team</h3>
<p>
<strong>Construction:</strong> Alex Bellows
<br/>
<strong>Programming, Soldering:</strong> Mark Kleback
</p>
<h3>Conceptualization</h3>
<p>
In early 2011, I became interested in constructing my own <a href="http://mamedev.org" target="_blank">MAME</a> (Multiple Arcade Machine Emulator) cabinet. The idea was to build an arcade that could run multiple games from the 1980s-90s, including Street Fighter, Donkey Kong, and Rampage. 
</p>
<h3>Design</h3>
<p>
The computer that was used for the MAME was an eMac from 2001, which had the monitor, hard drive, speakers, and usb ports all in one big, heavy compartment. During the days prior to the build, I installed <a href="http://www.macmame.org/" target="_blank">MacMAME</a> and started getting some ROMs to run on this computer. Because most ROMs are probably not designed for Mac, a few of my games were a bit glitchy. However, I was able to get 3 games ready for opening night: <strong>Altered Beast, Street Fighter 2,</strong> and <strong>Teenage Mutant Ninja Turtles: Turtles in Time</strong>.
</p>
<p>
The cabinet was build from MDF board with a white gloss laminate. We built a cradle for the eMac, and drilled out holes with a 1 1/8" spade bit for the buttons and a 3/4" bit for the joysticks. The Mag-Stik Plus Joysticks were purchased through <a href="http://www.ultimarc.com/" target="_blank">Ultimarc</a> and chosen specifically for the switchable 4 or 8 direction mode. The buttons were all purchased from <a href="http://tornadoterrys.com/surplus.htm" target="_blank">Tornado Terry's</a> (through their Ebay store). They allowed me to pick colors and mix and match. I bought 4 red, 4 blue, 4 green, a 1 player start, and a 2 player start button.
</p>
<p>
The buttons and joysticks were connected to the computer using an <a href="http://www.ultimarc.com/ipac1.html" target="_blank">I-Pac</a> microcontroller. This chip is built to substitute harware button presses for keyboard presses, and has software for programming each key press. Each screw terminal is labeled up, down, left, right, button1, button2, etc. It interfaces with the eMac via USB.
</p>
<p>
The coin door was purchased on Ebay and was taken from an old arcade cabinet. I cut off a few unnecessary parts with an exacto knife, and eventually had to replace the spring-loaded coin slots because of rust. When a quarter is inserted, it triggers a momentary switch that can be wired to the I-Pac and used as a keyboard press. 
</p>
<div id="galleria">
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade1.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade2.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade3.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade4.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade5.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade6.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade7.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade8.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade9.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade10.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade11.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade12.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade13.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade14.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade15.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade16.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade17.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade18.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade19.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade20.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade21.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade22.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade23.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade24.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade25.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade26.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade27.jpg" width="600" />
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/arcade/arcade28.jpg" width="600" />
</div>

<h3>Babycastles Installation</h3>
<p>
In February 2012, I worked with Babycastles and Haitham Essner to install the Sports and Circles gallery at Death By Audio. This machine featured the game Pole Riders by Ben Foddy.
</p>
<p>
	<iframe src="http://player.vimeo.com/video/37755498?title=0&amp;byline=0&amp;portrait=0" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</p>
<div class="row">
<div class="span2 offset2">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kleebtronics.com/deathbyarcade" data-via="kleeb930">Tweet</a>
</div>
<div class="span2">
<div class="fb-like" data-href="http://kleebtronics.com/deathbyarcade" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</div>
</div>


<script>
            Galleria.loadTheme('https://s3.amazonaws.com/kleebtronics-media/js/galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('#galleria');
        </script>

    </div>