<div id="main-updates">
<h2>2-21-12</h2>
<div id="update">
<p>
If you're heading down to Austin for <a href="http://sxsw.com/" target="_blank">South by Southwest</a>, come check out the <a href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1098" target="_blank">zOrb</a> and some other ITP performance instruments at <a href="http://schedule.sxsw.com/2012/events/event_IAP992393" target="_blank">Create ATX</a> on March 13th at Palm Park from 10 am - 6 pm. I will be joined by fellow ITP students Ezer Liechtenstein and Ryan Viglizzo. I will most our performance time, as well as our presentation, when the date gets closer.
</p>
</div>
<h2>1-17-12</h2>
<div id="update">
<p>
For the next 24 hours, kleebtronics.com and the Wordpress blog will black out to protest the SOPA legislation in Congress. To learn more about what you can do combat this bill, visit <a href="http://www.stopthewall.us">http://www.stopthewall.us</a>
</p>
</div>
<h2>12-1-11</h2>
<div id="update">
<p>
Thanks to Gavin Hackling, I've got my portfolio section up and running. In about 20 days, my first semester at ITP is over, so I will be adding my projects to the website as they are completed. Don't miss the <a href="http://itp.nyu.edu/shows/winter2011/" target="_blank">ITP Winter Show</a>, taking place at 721 Broadway on December 18th and 19th! 
</p>
</div>
<h2>10-31-11</h2>
<div id="update">
<p>
The debut of Kleebtronics.com! I have to give major props to <a href="http://stevenklise.com/" target="_blank">Steve Klise</a> for helping me get the layout off the ground. The Portfolio is still in the works, but should have a few of my ITP projects in the coming weeks as I document them better. The blog (still at kleebversustheworld.com) will still be updated as usual.
</p>
</div>

</div>