<div id="performances">
<div id="image-map">
<% @performances.each do |performance| %>
<div id="project-image">
    <a class="main-image" href="<%= performance.link %>" width="170" height="170"><img class="main" src="<%= performance.img_url %>" width="170"><img class="hover-image" src="<%= performance.img_hover %>" display="none" width="170"></a>
</div>
<% end %>
</div>
</div>