<div id="portfolio">
<div id="image-map">

<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1373" width="170" height="170"><img class="main" src="/earrings.jpg" width="170"><img class="hover-image" src="/earrings-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?tag=mosh-mural" width="170" height="170"><img class="main" src="/moshmural.jpg" width="170"><img class="hover-image" src="/moshmural-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1345" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/voronoi.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/voronoi-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1311" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/airport.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/airport-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1241" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/power-supply-thumb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/power-supply-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/Random_Walk/applet_js/index.html" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/RandomWalk.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/RandomWalk-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1256" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/Maze.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/Maze-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1111" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/touchbar-thumb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/touchbar-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1084" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/dba-stop-motion.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/dba-stop-motion-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1098" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/zorb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/zorb-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1057" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/ProjBox2.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/mixer-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=1071" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/the-job-thumb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/the-job-thumb-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/ICM2011/FishTank/applet/" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/fishtank.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/FishTank-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/SpaceInvader2/applet_js/index.html" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/SpaceShooter.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/SpaceShooter-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=858" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/Synth-thumb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/Synth-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=757" width="170" height="170"><img class="main" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/arcade-thumb.jpg" width="170"><img class="hover-image" src="http://stu.itp.nyu.edu/~mk3981/sinatra/kleebtronics/public/arcade-hover.jpg" display="none" width="170"></a>
</div>
</div>
</div>