<div id="portfolio">
<div id="image-map">
     <div id="project-image">
    <a class="main-image" href="http://musicalturk.com" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/mturk-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/mturk-thumb-hover.jpg" display="none" width="170"></a>
     <div id="project-image">
    <a class="main-image" href="/printingcode" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/icecream-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/icecream-hover.jpg" display="none" width="170"></a>
</div>
    <div id="project-image">
    <a class="main-image" href="/nerdyderby" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/nerdyderby.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/nerdyderby-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/sequencer" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/analogsequencer.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/analogsequencer-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://www.adhesionparadox.com" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/adhesion.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/adhesion-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/fractalearrings" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/earrings.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/earrings-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/moshmural" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/moshmural.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/moshmural-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/voronoi" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/voronoi.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/voronoi-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/waitinggame" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/airport.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/airport-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/powersupply" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/power-supply-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/power-supply-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/touchbar" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/touchbar-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/touchbar-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/dbaanimation" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/dba-stop-motion.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/dba-stop-motion-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/zorb" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/zorb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/zorb-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/videomixer" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/ProjBox2.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/mixer-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/thejob" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/the-job-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/the-job-thumb-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=858" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/Synth-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/Synth-hover.jpg" display="none" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="http://stu.itp.nyu.edu/~mk3981/blog/?p=757" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/arcade-thumb.jpg" width="170"><img class="hover-image" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/arcade-hover.jpg" display="none" width="170"></a>
</div>
</div>
</div>