<div id="portfolio">
<div id="image-map">
    <div id="project-image">
    <a class="main-image" href="/musicalturk" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/mturk-thumb.jpg" width="170"></a>
</div>
     <div id="project-image">
    <a class="main-image" href="/printingcode" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/icecream-thumb.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/screambooth" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/screambooth/scream2.jpg" width="170"></a>
</div>
    <div id="project-image">
    <a class="main-image" href="/nerdyderby" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/nerdyderby.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/sequencer" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/analogsequencer.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/adhesionparadox" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/adhesion.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/jewelry" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/earrings.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/moshmural" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/moshmural.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/voronoi" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/voronoi.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/waitinggame" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/airport.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/touchbar" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/touchbar-thumb.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/reel" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/dba-stop-motion.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/zorb" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/zorb.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/videomixer" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/ProjBox2.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/arduinosynth" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/Synth-thumb.jpg" width="170"></a>
</div>
<div id="project-image">
    <a class="main-image" href="/deathbyarcade" width="170" height="170"><img class="main" src="https://s3.amazonaws.com/kleebtronics-media/img/thumbs/arcade-thumb.jpg" width="170"></a>
</div>
</div>
</div>