<div id="project">
<h2>Video Mixer for Performance</h2>
<p>
<img src="https://s3.amazonaws.com/kleebtronics-media/img/projbox.jpg" width="600" />
</p>
<p>
created by: <a href="http://www.kleebtronics.com">Mark Kleback</a>
</p>
<p>
This video control box is my primary instrument for controlling projections and lighting during performances. It consists of an Arduino microcontroller, four analog potentiometers, four toggle switches, four LEDs, and an output for a DMX lighting controller. The Arduino communicates with software such as Max/MSP, Processing, or OpenFrameWorks during musical performances to dynamically change the video and lighting effects.
</p>
<h3>Conception</h3>
<p>
The design for this mixer was used in the <a href="http://training.oreilly.com/arduino/" target="_blank">Arduino and Processing in Tandem</a> class taught by Joseph Gray in February 2011. His design is called the <a href="http://projbox.org/" target="_blank">ProjBox</a>. He calls it "a generic project box for the Arduino platform." 
</p>
<p>
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/projBoxClosedAngle.png" width="600" />
</p>
<p>
The initial program was created using <a href="http://processing.org/" target="_blank">Processing</a> and a simple iSight webcam. The program taught by Gray was able to record live video, add it to a bank of videos, and mix the live stream with the pre-recorded bank at different speeds. I used this program while on tour with FuckTon in 2011.
</p>
<p>
<h3>Evolution</h3>
</p>
<p>
During my <a href="http://itp.nyu.edu/varwiki/Syllabus/ICM-All-F11/" target="_blank">Intro to Computational Media</a> class in my first semester at ITP, my video mixer was revamped to replicate analog video effects.
</p>
<p>
<iframe src="http://player.vimeo.com/video/30886022?byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</p>
<p>
The source code for this project is posted on <a href="https://github.com/markkleeb/VideoMixer" target="_blank">GitHub</a> and uses Joseph Gray's ProjBox class.
</p>
<h3>Interfacing with Max/MSP</h3>
<p>
The mixer was again used at the ITP Winter Show 2011 along with the <a href="http://www.kleebtronics.com/zorb">zOrb</a> to create a multimedia performance. The zOrb controlled audio effects while the mixer controlled the video. 
</p>
<p>
<img src = "https://s3.amazonaws.com/kleebtronics-media/img/power-supply6.jpg" width="600" />
</p>
<div class="row">
<div class="span2 offset2">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.kleebtronics.com/powersupply" data-via="kleeb930">Tweet</a>
</div>
<div class="span2">
<div class="fb-like" data-href="http://www.kleebtronics.com/powersupply" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
</div>
</div>
</div>
</div>