 body{
font-family: helvetica, arial, georgia;
font-size: large;
color: white;
background-color: #4E4848;
line-height: 1.6em;
background-image: url('/img/patterns/dark_brick_wall.png');
text-align: center;


}

#header {
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
}

#footer{
      
      background-image: url('/img/patterns/dark_brick_wall.png');
      width:800px;
      font-size: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      
      
}




@font-face {
        font-family: BureauAgency;
        src: url('/BureauAgency.otf');
      }
       
      

a:link,
a:visited{
       text-decoration:none;
       color: #8BC53F;
}


#nav a:link,
#nav a:visited{
      
      color: #4E4848;

}

#nav li:hover a {
       text-decoration: none;
       color: #8BC53F;       
}

#project
{
      color: white;
      font-size: 20px;
      font-family: georgia;
      line-height: 1.6em;
      margin-bottom: 10px;
      border-bottom: 3px solid black;
}

#project h2{
      color: #8BC53F;
      font-family: BureauAgency;
      font-size: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      
}
#project img,
#project iframe
{
      width: 600px;
}

#project h3{
      color: #8BC53F;
      font-size: 40px;
      font-family: BureauAgency;
       padding-top: 20px;
      padding-bottom: 20px;
      
}

#project p{
      
      padding-top: 30px;
      font-size: 20px;
      line-height: 1.6em;
      
}



body.blog #nav li.blog a:link,
body.blog #nav li.blog a:visited,
body.about #nav li.about a:link,
body.about #nav li.about a:visited,
body.portfolio #nav li.portfolio a:link,
body.portfolio #nav li.portfolio a:visited,
body.contact #nav li.contact a:link,
body.contact #nav li.contact a:visited,
body.performances #nav li.performances a:link,
body.performances #nav li.performances a:visited
{
      color: #8BC53F;
       
}



body.blog li.blog,
body.about li.about,
body.portfolio li.portfolio,
body.contact li.contact,
body.performances li.performances,
#nav li:hover
{
      background-image: url('/img/patterns/dark_brick_wall.png');
       color: #8BC53F;
      
       
}


#header-pic {
    width:50em;
    z-index:900;
    height:150px;
}

#nav {
     
      background-image: url('/img/patterns/dark_brick_wall.png');
      padding-top: 65px;
      
}
 
 
 ul.menu, ul.menu li, ul.menu ul {
        list-style: none;
        z-index: 800;
        font-family: BureauAgency;
        font-size: 50px;
        padding: 20px 10px 20px 10px; 
      }

      ul.menu li {
      
       
        padding: 0px 20px 0px 20px;
        background-image: url('/img/patterns/dark_brick_wall.png');
        float: left;
        position: relative;
      }
      
      
      
      #logobox {
       z-index: 900;
       float: left;
      }
      
      #logobox img{
            text-align: left;
            padding-right: 100px;
      }
      
      
      
      body.single_project #portfolio,
      body.portfolio #portfolio,
      body.main #main-updates,
      body.about #about,
      body.thanks #thanks,
      body.contact #contact,
      body.performances #performances,
      body.addproject #addproject,
      body.moshmural #project,
      body.zorb #project
      {
            
            padding: 50px 0px 50px 0px;
            width: 800px;
            color: white;
            font-size: 20px;
            font-family: BureauAgency;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            margin-bottom: 20px;
            border-top: solid 3px;
            border-bottom: solid 3px;
            border-color: black;

            
      }
      
    
      body performances #list{
            color: white;
            font-family: BureauAgency;
            font-size: 16px;
            display: block;
            
            
      }
      
      
      body.about img.kleeb{
       
       z-index: 500;
    margin: 0px 0px 30px 0px;
    display: inline;
    position: absolute;
       
      
      }
      
      
      
       body.about #aboutme{
            display: inline;
            font-size: 0.7em;
            position: absolute;
            float: left;
            padding: 0px 90px 15px 20px;
            margin: 0px 50px 0px 0px;
            
       }
      
      body.about #aboutme a,
      body.main #update a{
            
            text-decoration: underline;
            color: white;
      }
      
      
form {
    padding: 50px 0px 10px 0px;
    margin: 30px 0px 30px 0px;
    display:block;
    width: 50em;
    
   
    
}



body.main #update
{
      font-size: 0.8em;
      border: solid;
      border-color: #8BC53F;
      border-width: 0px 0px 3px 0px;
      
}

   
       
 
body.about #kleeblinks a{
      text-decoration: underline;
      color: white;
      font-size: 0.7em;
      line-height:0.8em;
      
}

h2,
#upcoming,
#past
{
      color: #8BC53F;
      font-size: 10px;
      font-family: BureauAgency;
      
}



.text{
   
    text-align:left;
    color: #8BC53F;
    padding-bottom: 10px;
    font-size: 20px;
      font-family: BureauAgency;
}

.input{
      padding-bottom: 10px;
    text-align:left;
    font-family:BureauAgency;

}

#image-map {
      
      height: 800px;
      text-align: center;
      padding-left: 10px;
      
}
#main-image{
      background-color: #4E4848;
      position: absolute;
      padding: 0px 25px 0px 25px;
      width: 300px;
}

#project-title{
      text-align: left;
      
}

#project-year{
      text-align: right;
      display: inline;
}
#project-image{
       
       float:left;
      display: block;
      padding-right: 20px;
      padding-bottom: 20px;
     
}

.main-image
.hover-image{
      display:none;
}


#project-image a:hover
.main{
    display:none;
}

#project-image a:hover
.hover-image{
      
      display: inline;
      
}

