 body{
       width: auto;
font-family: helvetica, arial;
font-size: large;
color: white;
background-color: #2e2424;
line-height: 1.6em;
width: 800px;
padding: 0px 200px 50px 200px;
background-image: url('/img/patterns/dark_brick_wall.png');
}

#header {
      height: 150px;
}

#footer{
      
       margin: 0px 0px 0px 0px;
      background-image: url('/img/patterns/dark_brick_wall.png');
      width:800px;
      height: 500px;
      font-size: 20px;
      display: block;
      
      
      
}




@font-face {
        font-family: BureauAgency;
        src: url('http://stu.itp.nyu.edu/~mk3981/BureauAgency.otf');
      }
       
      

a:link,
a:visited{
       text-decoration:none;
       color: #2e2424;;
}



#nav li:hover a {
       text-decoration: none;
       color: #8BC53F;       
}



body.blog li.blog a,
body.about li.about a,
body.portfolio li.portfolio a,
body.contact li.contact a,
body.performances li.performances a
{
      color: #8BC53F;
       
}



body.blog li.blog,
body.about li.about,
body.portfolio li.portfolio,
body.contact li.contact,
body.performances li.performances,
#nav li:hover
{
      background-image: url('/img/patterns/dark_brick_wall.png');
      
       
}


#header-pic {
      margin: 0px 0px 0px 150px;
    width:600px;
    z-index:900;
    height:150px;
}

#nav {
      margin-top: 65px;
      margin-left: 200px;
      padding: 0px 0px 0px 0px;
      height: 120px;
      background-image: url('/img/patterns/dark_brick_wall.png');
      
}
 
 
 ul.menu, ul.menu li, ul.menu ul {
        list-style: none;
        z-index: 800;
        position: absolute;
        font-family: BureauAgency;
        font-size: 50px;
        padding: 20px 10px 20px 10px; 
      }

      ul.menu li {
      
       
        padding: 15px 10px 15px 10px;
        background-image: url('/img/patterns/dark_brick_wall.png');
        float: left;
        position: relative;
        margin: 0px;
      }
      
      
      
      #logobox {
       position: absolute;
       z-index: 900;
       float: left;
       margin: 0px 0px 0px 0px;
      
       
      }
      
      
      
      body.single_project #portfolio,
      body.portfolio #portfolio,
      body.main #main-updates,
      body.about #about,
      body.thanks #thanks,
      body.contact #contact,
      body.performances #performances,
      body.addproject #addproject
      {
            
            padding: 50px 0px 50px 0px;
            width: 800px;
            height: 600px;
            color: white;
            font-family: BureauAgency;

            
      }
      
    
      
      
      
      body.about img.kleeb{
       
       z-index: 500;
    margin: 0px 0px 30px 0px;
    display: inline;
    position: absolute;
       
      
      }
      
      
      
       body.about #aboutme{
            display: inline;
            font-size: 0.7em;
            position: absolute;
            float: left;
            padding: 0px 90px 15px 20px;
            margin: 0px 50px 0px 0px;
            
       }
      
      body.about #aboutme a,
      body.main #update a{
            
            text-decoration: underline;
            color: white;
      }
      
      
form {
    padding: 50px 0px 10px 0px;
    margin: 30px 0px 30px 0px;
    display:block;
    width: 800px;
    
   
    
}



body.main #update
{
      font-size: 0.8em;
      border: solid;
      border-color: #8BC53F;
      border-width: 0px 0px 3px 0px;
      
}



 body.contact #location,
 body.addproject form #addproject
 {
            width: 800px;
            display: block;
            font-size: 0.7em;
            float: left;
            margin-left: 100px;
            padding: 0px 90px 15px 0px;
            line-height: 0.8em;
            height: 100px;
          
            
       }
       
       body.contact #form
       {
            margin-left: 100px;
            width: 800px;
            height: 400px;
            display: block;
            
            
       }

body.about #kleeblinks a{
      text-decoration: underline;
      color: white;
      font-size: 0.7em;
      line-height:0.8em;
      
}

h2{
      color: #8BC53F;
      font-size: 10px;
      font-family: BureauAgency;
      
}

#submit {
    position: absolute;
    padding: 130px 0px 0px 200px;
}

.text{
    position:relative;
    display: inline;
    text-align:left;
    color: #8BC53F;
    font-size: 20px;
      font-family: BureauAgency;
    padding: 10px 30px 30px 0px;
    width: 100px;
}

.input{
      float: left;
    position:relative;
    text-align:left;
    display:inline;
    font-family:BureauAgency;
    padding: 10px 30px 10px 0px;
    width: 100px;
}

#image-map{
      
      width: 800px;
      
}
#main-image{
      background-color: #2e2424;
      position: absolute;
      padding: 0px 25px 0px 25px;
      width: 300px;
}

#project-title{
      text-align: left;
      
}

#project-year{
      text-align: right;
      display: inline;
}
#project-image{
       
       float:left;
      display: block;
      padding-right: 20px;
      padding-bottom: 20px;
     
}

.main-image
.hover-image{
      display:none;
}


#project-image a:hover
.main{
    display:none;
}

#project-image a:hover
.hover-image{
      
      display: inline;
      
}

